:root {
    --nav-bg-color: #03002e;
}

body {
	height: 100vh;
    width=device-width;
    background-color:  #ccc; /*content background  */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /* move evrything down (content + nav) */
}
iframe {
    width: 20%;
    height: 100vh;
    background-color: var(--nav-bg-color);
    position: fixed;
}
.site-content {
    float: right;
    color: 000000;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px; /*sync w/nav pls*/
}
#event-list{
    width:80%;
    margin-left:10%;
    margin-right:15%;
}
#addeventform{
    width: 33%;
    vertical-align: middle;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.inputtype{
    float: right;
    width: 50%;
}
h1{
    font-size: 200%;
    font-weight: 900;
    color: #000000;
}
